<div id="emoji_area">
    <p>Blush : <img src='<%= @emoji['blush'] %>' alt='emoji'/></p>
    <p>Thumbs Up : <img src='<%= @emoji['+1'] %>' alt='emoji'/></p> 
    <p>accept : <img src='<%= @emoji['accept'] %>' alt='emoji'/></p>
    <p>Thumbs Down : <img src='<%= @emoji['-1'] %>' alt='emoji'/></p>
    <p>bike : <img src='<%= @emoji['bike'] %>' alt='emoji'/></p>
</div> 