<% @secrets.each do |p| %>
	<%= p.content %>
	<form action='/delete/secret/<%= p.id %>' method='post'>
		<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
		<input type='hidden' name='_method' value='delete'>
		<input type='submit' value='Delete'>
	</form>
	<p><%= p.like2s.count %> likes</p>
	<% if @person != p.person %>
	<form action='/likes' method='post'>
		<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
		<input type='hidden' name='secret2_id' value='<%= p.id %>'>
		<input type='submit' value='Like'>
	</form>
	<% end %>
	<% if @person != p.person %>
	<form action='/unlike' method='post'>
		<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
		<input type='hidden' name='_method' value='delete'>
		<input type='hidden' name='like2_id' value='<%= p.id %>'>
		<input type='submit' value='Unlike'>
	</form>
	<% end %>
<% end %>